.boot-title {
    font-family: 'Italianno';
    color: rgb(243, 243, 230);
    margin-top: 5rem;

}

.item {
    text-decoration: none;
    border-color: #2FA825;
    color: #2FA825;
    width: 35rem;
    font-size: 25pt;
    height: 4rem;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.75rem;
    font-family: 'Montserrat';
}

.color-1 {
    border-color: #37d629;
    color: #37d629;

}

.color-2 {
    
    border-color: #F3F3E6;
    color: #F3F3E6;
}

.color-3 {
    border-color: #c91212;
    color: #c91212;
}

@media only screen and (max-width: 600px) {
    .boot-title {
        font-size: 60pt;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .boot-title {
        font-size: 120pt;
        width: 75%;
    }
}